@charset "utf-8";

.text {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

.title {
    text-align: center;

}

.bg {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/070/315/small/geometric-low-poly-graphic-repeat-pattern-background-free-vector.jpg);

    background-repeat: repeat;
    
}